.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  padding: 8px 15px 8px 32px;
  text-decoration: none;
  color: #1e559e;
  display: block;
  transition: 0.3s;
  position: fixed;
  top: 10px;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}

.sidenav h3 {
  text-decoration: none;
  color: #1e559e;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #111;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .closebtn {font-size: 35px;}
}

.sidenav #upcoming-birthdays-result-table {
  display: none;
}

.sidenav .message {
  display: none; 
  text-align: center;
  font-weight: bold;
}

#upcoming-birthdays-result-table th {
  font-weight: bold;
  font-size: smaller;
}

#save-shorturl-msg {
  display: none;
  color: #ffba00;
  padding-top: 5px;
}